.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.view {
    background-image: url(../images/field.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    opacity: .90;
}
