<!DOCTYPE html>
<html ng-app="Users">

<head>
    <meta charset="utf-8">
    <title>
        Profile Page
    </title>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>


    <script src="/profilejs/module.profile.js"></script>
    <script src="/profilejs/controller.profile.js"></script>
    <script src="/profilejs/user.factory.js"></script>
</head>

<body class="view" ng-controller="userController as me" ng-init="me.getMe()">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-dark bg-inverse">
        <a href="#" class="navbar-brand">Ethereal</a>
        <div class="navbar-right">
            <ul class="nav navbar-nav form-inline float-xs-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/html/dashboard.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/htmlpages/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/htmlpages/profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/htmlpages/research.html">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" class="btn btn-md">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Profile -->
    <div class="container">
        <div class="row">
            <br>
            <div class="container col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-xs">
                        <img src="https://pbs.twimg.com/profile_images/607689829556580352/Tuyf2Pxz.jpg" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <div class="col-xs flex-items-xs-center">
                        <table class="table table-inverse">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{me.user.fname}} {{me.user.lname}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{me.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td>{{me.user.phone}}</td>
                                </tr>
                                <tr>
                                    <td>High School:</td>
                                    <td>{{me.user.highschool}}</td>
                                </tr>


                                <tr>
                                    <td>Graduation Year:</td>
                                    <td>{{me.user.graduation}}</td>
                                </tr>
                                <tr>
                                    <td>State of Residence:</td>
                                    <td>{{me.user.state}}</td>
                                </tr>
                                <tr>
                                    <td>Club Team:</td>
                                    <td>{{me.user.team}}</td>
                                </tr>
                                <td>Position:</td>
                                <td>{{me.user.player}}</td>

                                <tr>
                                    <td>GPA (On 4.0 scale):</td>
                                    <td>{{me.user.GPA}}</td>
                                </tr>
                                <tr>
                                    <td>SAT Score:</td>
                                    <td>{{me.user.SAT}}</td>
                                </tr>
                                <tr>
                                    <td>ACT Score:</td>
                                    <td>{{me.user.ACT}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=Vq2OPTZWHj0"></iframe> -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form ng-submit="me.addSubmission()">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Submission</h4>
                            </div>
                            <div class="modal-body">
                                Your Name<input class="form-control" ng-model="me.newSubmission.name" placeholder="Your Name"> Youtube URL<input class="form-control" ng-model="contest.newSubmission.url" placeholder="Youtube URL"> Submission Title
                                <input class="form-control" ng-model="me.newSubmission.title" placeholder="Title of Submission"> Video Description<input class="form-control" ng-model="me.newSubmission.description" placeholder="Description">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Submission</button>
                                <button type="submit" class="btn btn-primary">Add A Submission</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
